body{
    background: #f2f2f2;
}

header{
    background: #747474;
    color: #fff;
}

footer{
    background: #666666;
    color: #fff;
}

footer h7{
    font-size: 12px;
    font-weight: bold;
}